# SQL Skill Showcase

Here I am working through a few basic SQL queries using sqlite3. I will also attempt a very complex query given to us as a challenge during the Flatiron Data Science Bootcamp.

## <center><b>The Schema</b></center>

<img src='images/schema.png'></img>

In [3]:
import sqlite3 
import pandas as pd

conn = sqlite3.Connection('data\pokedex.db')
cur = conn.cursor()

In [4]:
for row in cur:
    print(row)

In [7]:
cur.execute('''
    SELECT name from pokemon
''')
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

           name
0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
146     Dratini
147   Dragonair
148   Dragonite
149      Mewtwo
150         Mew

[151 rows x 1 columns]